@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Unica+One&display=swap');

/*

Así se escriben los comentario en CSS.
Siempre se abren con slash asterisco, y
se cierran con asterisco slash.

*/

*{
    margin:50;
    padding:20;
} /*Aumenta el porte de los cuadros de los gifs*/

body{
    font-family:'Unica One', sans-serif;
    font-weight:400;
    color:#373737;
    background-image:url('media/gipi.gif');   /*Este es el fondo de los puntos moviendose*/
    text-align: right;
    font-size:1.5rem;
}

h1{
    font-family:'Unica One', monospace;
    color:#fff; /* lo básico, para evitar problemas */
    text-align:center;
    letter-spacing:0.1em;
    font-weight:1;


    padding:30px; /*Esto es en relacion al cuadrado de fondo*/
    background-color: rgb(197,116,124,.6);
    margin-top: 10px
    }

 h2{
    font-family:'Staatliches', monospace;
    color:#fff; /* lo básico, para evitar problemas */
    text-align:center;
    letter-spacing:0.1em;
    font-weight:1;

    padding:30px; /*Esto es en relacion al cuadrado de fondo*/
    background-color: rgb(197,116,124,.6);
    margin-top: 10px

}

h1{ margin-top: 40px;
    font-size:3rem;
}

h2{ margin-top: 40px;
    font-size:5rem;
    letter-spacing:0.1em;
}

@media screen and (max-width: 768px){
    h1{ font-size:1rem; }
    h2{ font-size:2rem; }
}

@media screen and (max-width: 576px){
    h1{ font-size:1rem; }
    h2{ font-size:1.5rem; }
}

h3{
    display:none;
}

h5, h6{
    font-weight:700;
}

a{
    color:#8F80F9;/*Esto controla el color del boton ver mas*/
    text-decoration: inherit;
}

a:hover{
    color:rgb(255,0,0);
    text-decoration:underline;
}

header{
    width:100%;
    top:36%;
    position: absolute;
    text-align:center;
    z-index:9;
}

@media screen and (orientation: portrait){
    header{ top:12%; }
}

video{
    width:98%;
    padding:1% 1% .75% 1%;
    height:auto;
}

main{
    width:100%;
}

/*
Puedes revisar detalles sobre el siguiente uso de flex
en https://www.taniarascia.com/easiest-flex-grid-ever/
*/

#equipo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color:#fff /* lo mismo que #FFFFFF, simplificando pares iguales*/;
    color:rgba(255,255,255,255);
}

#equipo a{
    color:rgba(255,255,255,0.8); /*No se como influye en el mail*/
}

#equipo a:hover{
    color:rgba(255,255,255,.9);
}

.integrante {
    flex-basis: 100%;
}

.integrante:hover {
    cursor:crosshair;
}

@media screen and (orientation: landscape){
    .integrante { flex:1; }
}
/*Esto es el temaño de la franja*/
.integrante h4{
    padding: 2rem 2rem 0.25rem 2rem;
}
/* Esto es el mail*/
.integrante address{
    padding: 0.25rem 2rem;
    font-size:0.9em;
    font-style:normal;
}

.integrante blockquote{
    padding: 6rem 2rem 2rem 2rem;
}

@media screen and (orientation: landscape){
    .integrante blockquote{
        padding: 6rem 2rem 2rem 2rem;
        max-width:50%;
    }
}
/* Esto es la cita de abajo*/
.integrante blockquote cite {
    display:block;
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 700;
    font-size:1rem;
    letter-spacing : 0.1rem;
    padding-top:0.25rem;
    color:#ad1457;
    text-align: right;
}

.integrante blockquote cite:before {
    content:"— ";
}

.integrante:nth-of-type(1){
    background:linear-gradient(to bottom, #f5b468, #fce483);
    background-image:url('media/Foto Tere.png');
    background-position: bottom center;
    background-size:auto 100%;
    background-repeat: no-repeat;
}


.integrante:nth-of-type(2){
    background:linear-gradient(to bottom, #f5b468, #fce483);
    background-image:url('media/Foto Benja.png');
    background-position: bottom center;
    background-size:auto 100%;
    background-repeat: no-repeat;
}

.integrante:nth-of-type(1):hover{
    background-color:#cac9ca;
    background-image:url('media/Gif Tere.gif');
    background-position: bottom center;
    background-size:auto 100%;
    background-repeat: no-repeat;

}

.integrante:nth-of-type(2):hover{
    background:#cac9ca;
    background-image:url('media/Gif Benja.gif');
    background-position: bottom center;
    background-size:auto 100%;
    background-repeat: no-repeat;
}

/*

AHORA VAMOS POR PORTAFOLIO

*/

#portafolio{
    width:100%;
    padding:.25% 0;
    background:linear-gradient(to bottom,rgb(252,180,228,.6), rgb(251,192,102,.6));
}

.item {
    width:23%;
    margin:1%;
    color:#000; /* Color letras portafolio */
    background-color:rgba(255,255,255,.8); /* Color recuadro portafolio */
    box-shadow:0 0 5px rgba(0,0,0,.5);
}

@media screen and (max-width: 770px){
    .item{
        width:48%;
        margin:1%;
        background-color:rgba(255,255,255,.8)
        color:#000;     /*Este es el color de las letras cuando se achica un poco la pantalla*/
    }
}
 @media screen and (max-width: 570px){
     .item{
         width:96%;
         margin:2%;
         background-color:rgba(255,255,255,.8)
         color:#000;         /*Mas chico aun*/
    }
}
 .item:hover{
     cursor:crosshair;
}
 .item figure{
     overflow:hidden;
}
 .item figure img{
     width:100%;
     height:auto;
     margin-bottom:-4px;
     filter: grayscale(1);
}
 .item:hover figure img{
     transform:scale(2);
     filter: grayscale(0);
     transition:all ease-out 1s;
}
 .item h4{ /*Este párrafo son los titulos de los Trabajos*/
     font-size:1.5rem;
     letter-spacing:0.025em;
     margin:5% 5% 3% 5%;
}
 .item p{ /*Este párrafo son el cuerpo de los Trabajos*/
     font-size:1rem;
     letter-spacing:0.05em;
     margin:2% 5% 6% 5%;
}
 footer{
     width:100%;
     padding:2.5em 0 2em 0;
     text-align:center;
     background-color:rgb(252,180,228,.6)
     color:#000

     padding:10px; /*Esto es en relacion al cuadrado de fondo*/
     background-color:rgb(251,192,102,.6);
     margin-top: 10px
     }
}
 footer p{
     text-transform:uppercase;
     letter-spacing:0.1em;
     font-size:1rem;



}
